form {
  display: flex;
  flex-direction: column;

  .form-field {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 12px;
    font-size: 14px;

    label {
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 2px;
    }

    input {
      height: 32px;
      padding: 0 8px;
      background-color: #f5f5f5;
      border: #eee solid 1px;
      border-radius: 2px;
      transition: border-color 0.4s ease-in-out;

      &:focus {
        background-color: #fafafa;
      }

      &.valid {
        border-color: #{$color-primary}88;
      }

      &.invalid {
        border-color: #{$color-danger}88;
      }
    }

    span.form-field-error {
      color: $color-danger;
    }
  }

  button {
    max-width: 150px;
    height: 32px;
    margin-top: 16px;
    border-radius: 2px;
    background: $color-font;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  }
}
