@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;

$color-font: #2d302d;
$color-primary: #10b480;
$color-danger: #f25c54;
$color-warning: #f8b90b;

$transition-background-color: background-color 0.5s ease-in-out,
  color 0.6s ease-in-out;
